#events {
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 48px;
    border-bottom: 1px solid $gray;
    padding: 8px 0;

    &.important {
      color: #fff;
    }

    // Tornado
    &.tor .line-icon {
      background-color: $red-color;
    }
    // Severe
    &.svr .line-icon {
      background-color: $normal-yellow-color;
    }
    // Tornado Emergency
    &.tornado-emergency .line-icon {
      background-color: $bright-magenta-color;
    }
    // Flood / Flash Flood
    &.ffa .line-icon, &.ffs .line-icon, &.ffw .line-icon, &.flw .line-icon {
      background-color: $dark-green-color;
    }
    // MD / SPC Outlook / Watch
    &.pts .line-icon, &.mesoscale-discussion .line-icon, &.sls .line-icon {
      background-color: #fff;
    }

    .line-left {
      display: flex;
    }
    .line-icon {
      text-transform: uppercase;
      font-family: monospace;
      width: 1px;
      word-wrap: break-word;
      padding: 0 11px 0 4px;
      background: $gray4;
      margin-right: 16px;
      height: 47px;
      color: $gray;
    }
    .line-text {
      padding-right: 16px;
    }
    .line-source {
      padding-right: 16px;
      color: $gray4;
      a {
        color: $text-color;
      }
    }
    .line-body {
      font-size: 12px;
      font-family: monospace;
    }
    .line-timeago {
      font-size: 10px;
      padding-left: 16px;
      white-space: nowrap;
    }
  }
}
